:root{
    --fundo: #ffffff;
    --frente-cartão: #ff0000;
    --verso-cartão: #ffffff;
    --destaque: #ffffff;
    --preto: #000000;
    --branco: #ffffff;
 }
 
 body{
     background-color: var(--fundo);
     margin: 0;
 }
 
 header{
     background-color: var(--preto);
     display: flex;
     justify-content: space-around;
     padding: 2rem;
 }
 
 header a { 
     color:var(--branco);
     text-decoration: none;
 }
 footer{
     background-color: var(--preto);
     position: fixed;
     bottom: 0;
     color: var(--branco);
     width: 100%;
     text-align: center;
 }


 #container{
    display: grid;
    gap: 3rem;
    padding: 2rem;
 }
 .cartao{
    background-color: var(--frente-cartão);
    border: 2px solid var(--destaque);
    padding: 40px;
    color: var(--branco);
    box-shadow: 5px 6px 25px var(--branco);
    cursor: pointer;
 }


 .cartao:hover{
    transform: scale(1.04);
 }